#myTab li{
    width:25%;
    float:left;
    height:40px;    
    list-style: none;
    margin: 0;
    padding: 0;
}

#myTab li img{
    float:left;
    height: 40px;    
}

#myTab li a{
    color:white;
    text-align: center;
    position: relative;
    display: block;
    padding: 10px 15px;    
}

#head{
	text-align: center;
}

#myTabContent{
	position: relative;
	padding-left: 40%;
	padding-top: 140px;
}

.row{
	margin-top:30px;
	padding-left: 20%
}

.mylabel{
	display:inline-block;
	width:90px;
}

.blue{
    background:#0f9af2;
}
.gray{
    background: #dfdfdf;
}
.tabPaneUl{
    width: 700px;
    margin: 0 auto;
    list-style: none;
}

.tabPaneUl li{
    height: 40px;
    line-height: 40px;
}
.tab-pane{
    margin-top: 50px;
}

.messager-body{
        font-size: 16px;
}
#bganimate {
	position: absolute;
	z-index: -1;
	width:99%;
	height:100%;
	top:0px;
}
canvas{
	display:block;
}