html, body {width:100%;margin: 0px;padding:0;background-color: #000000}  
ul, ol { padding: 0;}
footer{
    background-color: #000000;  
    text-align: center;
    color: #EEEEEE;
}
#headInterval{
  height: 50px;
  background-color: rgba(0,0,0,0);
}